/* POPUP */

#pop-up {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.pop-up-task-container,
.pop-up-delete-task-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    width: 525px;
    padding: 25px 20px;
    border: none;
    border-radius: 30px;
    background-color: #FFFFFF;
}

.pop-up-delete-task-container {
    width: auto;
}

.delete-question {
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
}

.popup-delete-task-buttons {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}

.popup-delete-task-buttons button {
    font-size: 20px;
    line-height: 25.2px;
    font-weight: 400;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 18px;
    cursor: pointer;
}

.yes-btn {
    color: white;
    background-color: red;
}

.no-btn:hover {
    background-color: white;
    border: 1px solid #949495;
}

.yes-btn:hover {
    color: red;
    background-color: white;
    border: 1px solid red;
    outline: none;
}



#pop-up-add-task {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.pop-up-add-task-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: auto;
    padding: 35px 30px;
    border: none;
    border-radius: 30px;
    background-color: #FFFFFF;
}

.pop-up-add-task-title {
    font-size: 47px;
    font-weight: 700;
    line-height: 56.4px;
    margin-bottom: 15px;
}

.pop-up-task-header {
    display: flex;
    justify-content: space-between;
}

.pop-up-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    color: #FFFFFF;
    background-color: #0038FF;
    padding: 4px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.pop-up-close-button {
    width: 32px;
    height: 32px;
    border: none;
    background-color: inherit;
    cursor: pointer;

    :hover {
        background-color: #D9D9D9;
        border: none;
        border-radius: 50px;
    }
}

.pop-up-task-title h2 {
    margin: 0px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 73.2px;
}

.pop-up-task-subtitle {
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.pop-up-task-date {
    color: #000000;
    display: flex;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    gap: 25px;
}

.pop-up-task-priority {
    display: flex;
    gap: 23px;
}

.pop-up-task-priority span {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.pop-up-task-priority-button {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000000;
    background-color: inherit;
    border: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.pop-up-task-contacts-container,
.pop-up-task-subtasks-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.pop-up-task-contacts-container p {
    margin: 0;
    color: #2A3647;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.pop-up-task-contacts,
.pop-up-task-subtasks {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.pop-up-task-contact {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 22.8px;
    padding: 7px 16px;
    margin-left: 10px;
}

.contact-label {
    display: inline-block;
    text-align: center;
    color: #FFFFFF;
    background-color: #6e52FF;
    width: 42px;
    height: 42px;
    font-size: 12px;
    font-weight: 400;
    line-height: 42px;
    border-radius: 50%;
}

.pop-up-task-subtasks-container p {
    margin: 0px;
    color: #2A3647;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.pop-up-task-subtask {
    display: flex;
    gap: 16px;
    padding: 6px 16px;
}

.pop-up-task-subtask input {
    width: 16px;
    height: 16px;
}

.pop-up-task-subtask span {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

.pop-up-task-footer {
    display: flex;
    justify-content: end;
    gap: 8px;
}

.pop-up-task-footer button {
    display: flex;
    gap: 8px;
    align-items: center;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.pop-up-task-footer button span {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

/* POPUP EDIT */


.edit-close-button-container,
.delete-close-button-container,
.edit-button-container {
    display: flex;
    justify-content: end;
}

.edit-title-container,
.edit-description-container,
.edit-date-container,
.edit-priority-container,
.edit-assign-container,
.edit-subtasks-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

#edit-title,
#edit-description,
#edit-date,
#edit-contacts {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    padding: 10px 21px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.edit-priority-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.edit-priority-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.edit-priority-buttons button {
    width: 136px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    padding: 16px 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.edit-priority-buttons button:hover {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.20);
}

.selection {
    width: 100%;
}

.ContainerForAllChosenContacts {
    height: auto;
}

.edit-contacts-container {
    display: flex;
    gap: 8px;
}

.edit-contact {
    display: inline-block;
    text-align: center;
    color: #FFFFFF;
    background-color: #6e52FF;
    width: 32px;
    height: 32px;
    font-size: 12px;
    font-weight: 400;
    line-height: 32px;
    border-radius: 50%;
}

.add-subtask-btn {
    margin: 0;
    padding: 0;
    border: none;
    background-color: inherit;
}

.edit-subtasks-container form {
    width: 100%;
    padding: 8px 16px;
    background-color: #ffff;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
}

.edit-subtasks-container form input {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    background-color: #ffff;
    border: none;
    outline: none;
    padding: 0px;
    flex-grow: 1;
    cursor: pointer;
}

.edit-subtasks-container form img:hover {
    border: none;
    border-radius: 50px;
    background-color: #D9D9D9;
    cursor: pointer;
}

.edit-subtask-list {
    margin: 5px 0px;
    padding: 0;
    outline: none;

}

.edit-subtask-item,
.edit-subtask-item-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 16px;
    outline: none;

}


.edit-subtask-item:hover {
    background-color: #f3f1f1;
    border-radius: 10px;
    outline: none;

}

.edit-subtask-icons button,
.edit-subtask-text-icons button {
    border: none;
    background-color: inherit;
    cursor: pointer;
    padding: 2px;
}

.edit-subtask-icons button:hover,
.edit-subtask-text-icons button:hover {
    background-color: #D9D9D9;
    border-radius: 50%;
}

.edit-button-container button {
    display: flex;
    align-items: center;
    font-size: 21px;
    line-height: 25.2px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    padding: 10px 18px;
    color: #FFFFFF;
    background-color: #2A3647;
    cursor: pointer;
}

.edit-button-container button:hover {
    border: none;
    background-color: #0D99FF;
    box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.5);
}

#edit-subtask-text-input {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    background-color: #ffff;
    border: none;
    outline: none;
    padding: 0px;
    flex-grow: 1;
}

#edit-subtask-text-input[type="text"] {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    border-bottom: 1px solid #0D99FF;
}