@media (max-width: 1200px) {
    * {
        box-sizing: unset;
    }

    .header {
        height: 80px;
    }

    .side-bar {
        display: none;
    }

    #contactOverview {
        top: 81px;
        width: auto;
        left: 0;
        position: absolute;
    }

    #contactOverviewContent {
        padding: 0;
        padding-top: 10px;
    }

    #addContactButton {
        width: 220px;
        font-size: 18px;
    }

    .contact-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .groupHeader {
        width: auto;
        height: auto;
        padding: 12px 36px 12px 58px;
    }

    .groupDivider {
        width: 300px;
    }

    .contactItem,
    .contactItem:hover {
        justify-content: center;
        width: 280px;
        padding: 12px 3px 12px 3px;
        gap: 0;
    }

    .contactDetails {
        width: 150px;
    }

    .contactPageRightHeader {
        width: auto;
        left: 65%;
        transform: translate(-50%, -50%);
        position: fixed;
        gap: 10px;
    }

    #contactPageHeaderName {
        font-size: 47px;
    }

    .vertical {
        position: unset;

    }

    #contactPageHeaderText {
        font-size: 20px;
        text-align: center;
        padding-left: 0;
        width: 180px;
    }

    .circle {
        margin-right: 20px;
    }

    #contactDetailsView {
        left: 70%;
        transform: translate(-50%, -10%);
    }
}

@media (max-width: 820px) {
    .contactPageRightHeader {
        left: 71%;
    }

    #contactDetailsView {
        left: 85%;
    }

    #contactPageHeaderText {
        width: 110px;
    }

    #contactPageHeaderName {
        font-size: 40px;
    }

    .contactItem,
    .contactItem:hover{
        gap: 35px;
    }

    .contactDetails {
        width: 159px;
    }

    .contactDetailsNameFull {
        height: auto;
        width: 260px;
        font-size: 32px;
    }
}

@media (max-width: 665px) {
    .contactPageRightHeader {
        display: none;
    }

    #contactDetailsView {
        display: none !important;
    }

    #contactOverview {
        width: 100%;
    }

    #contactOverviewContent {
        width: 100%;
    }

    .groupHeader {
        padding: 17px 36px 17px 61px;
    }

    .contactItem,
    .contactItem:hover,
    .groupDivider {
        width: 352px;
    }
}

@media (max-width: 490px) {

    .contactItem,
    .contactItem:hover,
    .contact-group {
        width: 90%;
    }

    .groupHeader{
        padding: 17px 36px 17px 45px;
    }

    .contact-group{
        width: 320px;
    }
}