#start-logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transition: all 400ms ease-in-out;
    margin-left: -137px;
    margin-top: -162px;
}

.animated-start-logo {
    transform: scale(0.5, 0.5) !important;
    transform: translate(-50%, -50%);
    top: 150px !important;
    left: 150px !important;
}

.sign-up-wrapper {
    position: fixed;
    top: 70px;
    right: 70px;
    display: flex;
    align-items: center;
    gap: 35px;
}

.sign-up-wrapper button {
    color: white;
    font-weight: 700;
    font-size: 16px;
    border: unset;
    padding: 15px;
    background-color: #2A3647;
    border-radius: 8px;
    transition: all 125ms ease-in-out;
}

.sign-up-wrapper button:hover {
    cursor: pointer;
    background-color: #29ABE2;
}

.sign-up-wrapper span {
    font-size: 20px;
}

#form-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-in-box {
    height: 493px;
    width: 652px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 3px #0000000A;
}