#start-logo-wrapper {
    height: 100vh;
    width: 100%;
    z-index: 1;
    background-color: #F6F7F8;
    top: 0;
    left: 0;
    position: relative;
    transition: background-color 500ms ease-in-out;
}

.animatied-start-logo-wrapper {
    background-color: transparent !important;
    z-index: -1 !important;
}

#start-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 400ms ease-in-out;
    margin-left: -137px;
    margin-top: -162px;
}

.animated-start-logo {
    transform: scale(0.5, 0.5) !important;
    transform: translate(-50%, -50%);
    top: 150px !important;
    left: 150px !important;
}

.sign-up-wrapper {
    position: absolute;
    top: 50px;
    right: 50px;
}