.content-margin{
    padding-bottom: 50px;
}

.content-margin a{
    text-decoration: none;
    color: #28abe2;
}

.legalNoticeText a:hover{
    text-decoration: underline;
}

.legalNoticeHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.legalNoticeHeader h1{
    font-weight: 700px;
    font-size: 61px;
    line-height: 73.2px;
    margin-bottom: 20px;
}

.legalNoticeText{
    gap: 24px;
    padding-bottom: 20px;
}

.legalNoticeText h2{
    font-weight: 700px;
    font-size: 27px;
    line-height: 32.4px;
}

.legalNoticeText h3,
.legalNoticeText ul,
.legalNoticeText p{
    font-weight: 400px;
    font-size: 16px;
    line-height: 19.2px;
}

.stepByStep{
    padding-bottom: 40px;
}

.stepsDetails{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.stepNumber{
    margin-right: 20px;
    font-weight: bold;
    font-size: 27px;
}

.stepText h3{
    font-size: 27px;
    margin: 0;
}

#marginForText{
    margin-bottom: 50px;
}

#JoinH2Help{
    margin-top: 0;
}