<section id="Content" class="CompleteContent">    
    <div class="Content">
        <div id="TitleContent">
            <div class="Subheadline">
                <div>
                    Title
                </div>
                <div class="star">
                    *
                </div>
            </div>
            <div class="Subcontent">
                <input class="Inputfield" placeholder="Enter a title">
            </div>
        </div>
        <div id="DescriptionContent">
            <div class="Subheadline">
                <div>
                    Description
                </div>
            </div>
            <div class="Subcontent">
                <textarea class="Inputfield" placeholder="Enter a title"></textarea>
            </div>
        </div>
        <div id="AssignedToContent">
            <div class="Subheadline">
                <div>
                    Assigned to
                </div>
            </div>
            <div class="Subcontent">
                <select class="selection hover arrowdown" value="Select contacts to assign">
                    <option class="selectionOption" value="">Select contacts to assign</option>
                    <option class="selectionOption">1</option>
                    <option class="selectionOption">2</option>
                </select>
            </div>
        </div>
        <div id="requiredText" class="requiredText">
            <div class="star">*</div>This field is required
        </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" width="2" height="426" viewBox="0 0 2 426" fill="none">
        <path d="M1.24805 1L1.24854 425" stroke="#D1D1D1" stroke-linecap="round"/>
    </svg>
    <div class="Content">
        <div id="DueDateContent">
            <div class="Subheadline">
                <div>
                    Due date
                </div>
                <div class="star">
                    *
                </div>
            </div>
            <div class="Subcontent">
                <input type="date" class="Inputfield"  placeholder="dd/mm/yyyy">
            </div>
        </div>
        <div id="PrioContent">
            <div class="Subheadline">
                <div>
                    Prio
                </div>
            </div>
            <div class="SubcontentPrio">
                <div class="prioclass hover">
                    <div>Urgent</div>
                    <img src="/assets/img/PrioHigh.png">
                </div>
                <div class="prioclass hover">
                    <div>Medium</div>
                    <img src="/assets/img/PrioMedium.png">
                </div>
                <div class="prioclass hover">
                    <div>Low</div>
                    <img src="/assets/img/PrioLow.png">
                </div>
            </div>
        </div>
        <div id="DescriptionContent">
            <div class="Subheadline">
                    <div>
                        Category
                    </div>
                    <div class="star">
                        *
                    </div>
            </div>
            <div class="Subcontent">
                <select class="selection hover arrowdown" value="Select task category">
                    <option class="selectionOption" value="">Select contacts to assign</option>
                    <option class="selectionOption">1</option>
                    <option class="selectionOption">2</option>
                </select>
            </div>
        </div>
        <div id="SubtasksContent">
            <div class="Subheadline">
                    Subtasks
            </div>
            <div class="Subcontent">
                <input class="Inputfield subtasks" placeholder="Add new subtask">
            </div>
        </div>
        <div class="buttons">
            <button class="cancelButton hover">Clear <img src="/assets/img/cancel_dark.png"></button>
            <button class="createTaskButton hover">Create Task <img src="/assets/img/confirm.png"></button>
        </div>
    </div>
</section>